@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family:"Open Sans";
  font-size: 18px;
  line-height: 1.5;
  margin: 50px;
  margin-top: 10px;
}


h1 {
  border-style: solid;
  border-width: thin;
  text-align: center;
  display: inline;
  font-size:43px;
}


h2 {
  text-align: center;
  margin-top: 35px;
}

h3 {
  text-align: center;
}

header {
  text-align: center;
  padding-bottom: 40px;
}

aside {
  float:left;

}

nav {
  text-align: center;
  font-size: 18px;
  background-color: lightblue;
  width: 200px;
  line-height: 40px;
}

article {
  border: solid lightblue 3px;
  padding: 10px;
  margin-left: 250px;
}

p {
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:18px;
}



img {
  vertical-align: middle;
  margin: 20px;
}




table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid black;
  background: lightblue;
}

td {
  border: 1px solid black;
}
